<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Bookish - Home</title>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <div class="jumbotron">
        <h1>Bookish</h1>
        <p class="lead">Welcome to the Bookish application</p>
    </div>
    <h3>Copies Available</h3>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Copy ID</th>
            <!--<th>Book ID</th>-->
            <th>Checked Out By</th>
            <th>Return Date</th>
            <th>Delete Book Copy?</th>
            <th>Check Out Book Copy</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="copy : ${model.bookCopies}">
            <td th:text="${copy.CopyID}"></td>
            <!--<td th:text="${copy.BookID}"></td>-->
            <td th:text="${copy.CheckedOutBy}"></td>
            <td th:text="${copy.ReturnDate}"></td>
            <td>
                <a th:href="${'/allBooks/bookcopy/delete?copyId=' + copy.CopyID + '&bookId=' + copy.BookID}">Delete</a>
            </td>
            <td>
                <a th:href="${'/allBooks/bookcopy/checkOut/?copyId=' + copy.CopyID + '&bookId=' + copy.BookID}">Check Out</a>
            </td>
        </tr>
        </tbody>
    </table>

    <form id="messageFormBook" th:action="@{/allBooks/bookcopy/add}" method="post">
        <div>
            <label>
                <input type="hidden" name="BookID" th:value="${model.BookID}">
            </label>
        </div>
        <div>
            <input type="submit" value="Add Copy Of Book" />
        </div>
    </form>




</div>
</body>
</html>
