<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Bookish - Home</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <div class="jumbotron">
                <h1>Bookish</h1>
                <p class="lead">Welcome to the Bookish application</p>
            </div>

            <form id="messageForm2" th:action="@{/allBooks/search}" method="post">
                <div class="input-group">
                    <input name="BookSearched" type="text" class="form-control" placeholder="Search for: Book Name / Author">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="submit">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <h3>Book List:</h3>
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Book ID</th>
                        <th>Author</th>
                        <th>Title</th>
                        <th>Delete?</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${model.books}">
                        <td th:text="${book.BookID}"></td>
                        <td th:text="${book.Author}"></td>
                        <td th:text="${book.BookName}"></td>
                        <td>
                            <a th:href="${'/allBooks/delete?bookId=' + book.BookID}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h4>Add a new book:</h4>
            <form id="messageFormBook" th:action="@{/allBooks/add}" method="post">
                <div>
                    <label>
                        Author:
                        <input type="text" name="Author">
                    </label>
                </div>
                <div>
                    <label>
                        Book Title:
                        <input type="text" name="BookName">
                    </label>
                </div>
                <div>
                    <input type="submit" value="Add book" />
                </div>
            </form>

        </div>
    </body>
</html>
