<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Bookish - Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</head>
<body>
<div layout:fragment="content" class="container body-content">
    <div class="jumbotron">
        <h1>Check Out</h1>
        <p class="lead">Welcome to the Bookish application</p>
    </div>

    <input class="form-control" type="text" id="myInput" onkeyup="myFunction()" placeholder="Find a Person ID...">

    <h2>Customers:</h2>

    <table class="table" id="myTable">
        <thead class="thead-light">
            <tr>
                <th>Person ID</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Email</th>
            </tr>
        </thead>

        <tbody>
            <tr th:each="customers : ${model.customers}">
                <td th:text="${customers.PersonID}"></td>
                <td th:text="${customers.FirstName}"></td>
                <td th:text="${customers.Surname}"></td>
                <td th:text="${customers.Email}"></td>
            </tr>
        </tbody>
    </table>

    <h4>Add a new Checkout:</h4>
    <form id="messageFormBook" th:action="@{'/allBooks/bookcopy/checkOut/add'}" method="post">
        <div>
                <input type="hidden" name="bookId" th:value="${model.bookId}">
        </div>
        <div>
                <input type="hidden" name="copyId" th:value="${model.copyId}">
        </div>
        <div>
            <label>
                Person ID:
                <input type="text" name="personId">
            </label>
        </div>

        <div>
            <input type="submit" value="Add Checkout" />
        </div>
    </form>

    <h4>Delete a Checkout:</h4>
    <form id="messageFormBook" th:action="@{'/allBooks/bookcopy/checkOut/delete'}" method="post">
        <div>
            <input type="hidden" name="bookId" th:value="${model.bookId}">
        </div>
        <div>
            <input type="hidden" name="copyId" th:value="${model.copyId}">
        </div>
        <div>
            <label>
                Person ID:
                <input type="text" name="personId">
            </label>
        </div>

        <div>
            <input type="submit" value="Delete Checkout" />
        </div>
    </form>

</div>


</body>
</html>




