<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <title>Bookish - Home</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <div class="jumbotron">
                <h1>Bookish</h1>
                <p class="lead">Welcome to the Bookish application</p>
             </div>

    <h2>Our customers:</h2>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Person ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Password</th>
            <th>Delete?</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="customers : ${model.customers}">
            <td th:text="${customers.PersonID}"></td>
            <td th:text="${customers.FirstName}"></td>
            <td th:text="${customers.Surname}"></td>
            <td th:text="${customers.Email}"></td>
            <td th:text="${customers.Password}"></td>
            <td>
                <a th:href="${'/Customers/delete?personId=' + customers.PersonID}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>

    <h2>Add a new Customer:</h2>
    <form id="messageForm" th:action="@{/Customers/add}" method="post">
        <div>
            <label>
                Email:
                <input type="text" name="Email">
            </label>
        </div>
        <div>
            <label>
                Password:
                <input type="text" name="Password">
            </label>
        </div>
        <div>
            <label>
                First Name:
                <input type="text" name="FirstName">
            </label>
        </div>
        <div>
            <label>
                Surname:
                <input type="text" name="Surname">
            </label>
        </div>
        <div>
            <input type="submit" value="Add customer" />
        </div>
    </form>

</div>
</body>
</html>
